<form [formGroup]="InstituteForm" (ngSubmit)="addInstitute()">
    Instittute Code<input type="text" formControlName="institutec=Code" name="instittuteCode" />
    <br/> DISE Code<input type="text" formControlName="diseCode" name="diseCode" />
    <br/> Institute Name<input type="text" formControlName="instituteName" name="instituteName" />
    <br/> University Name<input type="text" formControlName="universityName" name="universityName" />
    <br/> University State<input type="text" formControlName="universityState" name="universityState" />
    <br/> password<input type="password" formControlName="password" name="password" />
    

    <button>Submit</button>
</form>